@font-face {
    font-family: 'GetSchwifty-Regular';
    src: url('/src/assets/fonts/GetSchwifty-Regular.ttf') format('truetype'),
         url('/src/assets/fonts/GetSchwifty-Regular.woff') format('woff'),
         url('/src/assets/fonts/get_schwifty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: rgb(41, 41, 41);
    font-family: 'Gabriela', serif;
}

header {
    margin: 40px 100px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.header__logo {
    width: 60%;
    min-width: 400px;
    max-width: 850px;
}

.header__webtext {
    margin: 0;
    align-self: flex-end;
    color: #9d1b1e;
    font-size: 4vw;
    font-family: 'Sue Ellen Francisco', cursive;
}

.sidenav__opener {
    position: fixed;
    top: 20px;
    left: 100%;
    padding: 0;
    overflow: hidden;
    width: 0;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 32px;
    cursor: pointer;
    transition: width .5s;
}

.sidenav.closed .sidenav__opener {
    width: 100px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 50%;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-coral);
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 75%,
        transparent 75%,
        transparent
    );
}

::-webkit-scrollbar-thumb:hover {
}
